@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="font-size:30px;color:#000;text-align:center;padding-top:240px">
     WEBSITE XEM PHIM CODEDOAN.COM
    <p style="color:#000">CODEDOAN</p>
    <p style="color:#000">Số điện thoại liên hệ:09999999  </p>

</h1>
